body{
    background-color: #AD3550;
    margin:  0 auto;
}
.bannerPrimary{
    background-image:url("../assets/banner4.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    display: flex;
}
.bannerPrimary_content{
    margin-top: 60vh;
    padding: 100px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.btn_primary{
    width: 10vw;
    padding: 4px;
    font-size: 1.4rem;
    margin-top: 10px;
    color: white;
    background-color: #AD3550;
    border-radius: 12px;
}
.aboutMentor_title{
        text-align: center;
        color: white;
        text-transform: uppercase;
}
.aboutMentor_img{
    width: 25%;
    margin: 30px 0 35px 85px;
    border-radius: 130px;
}
.aboutMentor_content{
    display: flex;
    align-items: center;
}
.aboutMentor_paragraph{
    color: white;
    margin: 0 0 0 100px;
}
.carousel-mentoria{
    background: white;
    text-align: center;
    border-radius: 24px;
    width: 70%;
    margin: 0 auto;

}
.img-mentoria{
    width: 30%;
    margin: 0 auto;
    border-radius: 150px;

}
.btn-red{
    width: 120px;
    padding: 4px;
    margin-top: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #AD3550;
    border-radius: 12px;
}
.carousel-mentoria_slides{
    padding: 50px;
}
.bannerSecond{
    background-image: url("../assets/mentoria.jpg");
    -webkit-filter: grayscale(60%); /* Chrome, Safari, Opera */
    filter: grayscale(60%);
   
}

/* pagina emprego */

.aboutJob{
    text-align: center;
    margin: 5%;
}

.topicsAboutJob{
    display: flex;
    margin: 5%;
}
.topisAboutJob_img{
    width: 30%;
}

@media(max-width:768px){
    .bannerPrimary_content{
        margin: 68vh 0 0 25vh;
        padding: 0rem;
    }
    .aboutMentor_content{
        display: block;
    }
    .aboutMentor_img{
        width: 55%;
    }
    .aboutMentor_paragraph{
        margin: 0 0 50px 42px;
    }
    .carousel-mentoria_slides{
        padding: 30px;
    }
    .img-mentoria{
        width: 70%;
    }
}