.sobreMentoria{
    background-color: #AD3550;
}
.sobreMentoria_conteudo{
   
    width: 75%;
    margin: 0 auto;
}
.sobreMentoria_conteudo-perfil{
    margin-bottom: 30px;
}
.btn-primary{
    margin-bottom: 30px;
}
.banner{
    
    height: 70vh;
    background-size: cover;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.bannerEmprego_title{
    padding-bottom: 1px;
    bottom: 1px;
}
.card{
    text-align:center;
    align-items: center;
}
.emprego-card-img{
    width:30%;
    margin-top: 20px;
}
.emprego_conteudo{
    text-align: center;
}