*{
    margin: 0 ;
    padding:  0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: white;
}

.banner{
    width: 100%;
    height: 50vh;    
    background-image: url("../assets/banner.png");
    background-size: cover;
}

.banner_elements{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 258px;    
    margin-left: 123px;    
}

.banner_title{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.btn_red{
    width: 94px;
    padding: 4px;
    margin-top: 10px;
    color: white;
    text-align: center;   
    text-decoration: none;
    background-color: #AD3550;
    border-radius: 12px;  
}

.sobreMentoria{
    background-color: #AD3550;
}

.container1{
    width: 80%;
    margin: 0 auto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-bar_link, .nav-bar_menu{
    margin: 10px;
    text-decoration: none;
    color: white;
}

.nav-bar_menu{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
}

.sobreMentoria_header{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.sobreMentoria_imgPerfil{
    width: 54%;
    border-radius: 29px;
    height: 10%;   
}

.sobreMentoria_header_title{
    margin: 20px 0 20px 0;
}

.carousel-mentoria{
    width: 100%;
    background-color: white;
    border-radius: 23px;
}
.img-mentoria{
    width: 45%;
    margin: 30px 0 35px 85px;
    border-radius: 75px;
}
.carousel-item{
    text-align: center;
}
.carousel-indicators{
    top: 180px;
}
.active li {
    background-color: yellow;
}
.carousel-indicators li {
    background-color: black!important;
}
.carousel-item {
    color: black;
}
.carousel-item_subtitle{
    padding: 0 25px;
}